<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Recommendation</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Recommended Anime</h1>
    <div id="recommendations">
        {% for anime in recommended %}
            <div class="anime">
                <h2>{{ anime.Name }}</h2>
                <p> 
                    {% for genre in anime.Genres %}
                        #{{ genre.name }}
                    {% endfor %}
                </p>
                <p>Score: {{ anime.Score }}</p>
            </div>
        {% endfor %}
    </div>

    <h2>Search for Anime</h2>
    <form id="searchForm">
        <input type="text" id="searchQuery" name="query" required>
        <button type="submit">Search</button>
    </form>
    
    <div id="searchResults"></div>
    
    <h2>Vector Search for Anime</h2>
    <form id="vectorSearchForm">
        <input type="text" id="vectorSearchQuery" name="query" required>
        <button type="submit">Search</button>
    </form>
    
    <div id="vectorSearchResults"></div>
    
    <script>
        document.getElementById('searchForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const query = document.getElementById('searchQuery').value;
            const response = await fetch(`/search?query=${query}`);
            const resultHtml = await response.text();
            document.getElementById('searchResults').innerHTML = resultHtml;
        });

        document.getElementById('vectorSearchForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const query = document.getElementById('vectorSearchQuery').value;
            const response = await fetch(`/vector_search?query=${query}`);
            const resultHtml = await response.text();
            document.getElementById('vectorSearchResults').innerHTML = resultHtml;
        });
    </script>
</body>
</html>
