<!DOCTYPE html>
<html lang="'en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Recommendation</title>    
</head>
<body>
    <h1>Welcome to Product Recommendation Service</h1>
    <form action="/" method="post">
        <label for="user">Select User ID:</label>
        <select id="user" name="user">
            {% for user in users %}
                <option value=""{{ user }}>{{ user }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="text" name="search_text" placeholder="Enter your search text">
        <button type="submit">search</button>
    </form>
</body>
</html>